/*Footer CSS*/

footer ul {
  list-style-type: none;
}

footer li{
	letter-spacing: 2px;
	line-height: 30px;	
}

.footer-right{
	display: inline-block;
	vertical-align: top;
	float:right;
	background-color: inherit;
	/*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);*/
	box-sizing: border-box;
	width: 100%;
	font: bold 12px sans-serif;
	text-align: left;
	line-height: 20px;
}

.footer-right button{
	float: right;
	width: 100px;
	margin-top: 10px;
	background-color: grey;	
	color: white;
	font: bold;
}

input{ 
	width: 220px;
	

 }
textarea{
	margin-top: 10px;
	width: 220px;
	height: 100px;
}

footer{ 
    margin-top: 5%;
    padding: 30px;
    background-color: #FFFFFF;
    color:#003366;

 }
