        .product_view .modal-dialog{
             width: 100%;
         }
        .pre-cost{text-decoration: line-through; color: #a5a5a5;}
        .space-ten{padding: 10px 0;}

        .modal-content{
            width:250%;
            float: center;
          /*  padding-right: 100%*/
          margin-left: -70%;
          margin-top: 30%;
        }

        .quantity input{ 
            
         }