
.cart{ 
	text-align: center;
 }
.row > div:last-child button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
 .product{ 
 	padding top: 10px;
  }

  /* Modal Header */
.modal-header {
    padding: 4px 16px;
    text-align: center;
   /* background-color: #5cb85c;*/
    color: black;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
 /*   background-color: #5cb85c;*/
    color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 5%;
    margin-left: 30%;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}