@font-face {
    font-family: queenFont;
    src: url("fonts/queen_of_clubs.otf");
}

.navbar{
border-radius:0 !important;
padding: 10px;
}

.navbar-brand{
    font-family: queenFont;
}

footer{ 
	padding: 20px;
	background-color: black;

 }
 
.navbar-custom, footer{ 
	background-color:#003366;
	background-image: none;
	color:#FFF;
}
	
.navbar-nav > li > a{
	color:#FFF;
}

.navbar-brand{
	color:#FFF; font-size:250%;
}

.carousel .item {
  height: 250px;
}

