/*NAV and FOOTER styles START*/
@font-face {
    font-family: queenFont;
    src: url("fonts/queen_of_clubs.otf");
}

.navbar{
border-radius:0 !important;
padding: 10px;
}

.navbar-brand{
    font-family: queenFont;
}

footer{ 
	padding: 20px;
	background-color: black;

 }
 
.navbar-custom, footer{ 
	background-color:#003366;
	background-image: none;
	color:#FFF;
}
	
.navbar-nav > li > a{
	color:#FFF;
}

.navbar-brand{
	color:#FFF; font-size:250%;
}
/*NAV and FOOTER styles END*/

/*Index.php styles START*/
.carousel .item {
  height: 250px;
}

.coverImage{width:100%;}
/*Index.php styles END*/

.divider-owner{background:#BDBDBD; 
	width: 100%;
    height: 1px;
    margin: 10px auto;
    border-bottom: 1px}
